* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
    color: #eeeeee;
    border: none;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: rgba(30, 30, 30, 0.9);
    border-bottom: 2px solid #3f3f3f;
    color: #ffffff;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0 10px;
}

#niri-workspaces {
    margin: 0 8px;
}

#niri-workspaces button {
    background: transparent;
    border: none;
    color: #888888;
    padding: 0 6px;
    margin: 0 3px;
    border-radius: 6px;
    font-weight: bold;
}

#niri-workspaces button.active {
    color: #ffffff;
    background-color: #5e81ac;
}

#niri-workspaces button:hover {
    background-color: #444444;
}

#cpu,
#memory,
#temperature,
#network,
#clock,
#wireplumber,
#tray {
    padding: 0 10px;
    background-color: rgba(40, 40, 40, 0.8);
    margin: 4px 5px;
    border-radius: 6px;
}

#temperature.critical {
    background-color: #bf616a;
    color: #ffffff;
}

#wireplumber.muted {
    color: #888888;
}

#tray {
    background: none;
    padding: 0;
    margin: 0 10px;
}

